

			<div class="popupbody">
				<ul>
					<li class="popupmain">
						<div class="popuptitle"><span>新建购物进货单</span><i></i><b></b></div>
						<div class="popupcontent">
							<div class="popupbodyttl">购进退货单</div>
							<div style="white-space: nowrap;"><label for="">退货仓库</label><input type="text" disabled="" /><label for="">供应商</label><input type="text" disabled="" /><label for="">退货入库单号</label><input type="text" disabled="" /><label for="">备注</label><input type="text" /></div>
							<div>
								<table class="edittable" border="0" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th><span>购进退货明细</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="tablebox"><table class="edittable2" border="0" cellspacing="0" cellpadding="0">
												<thead><tr><th>序号</th><th>品种名称</th><th>规格</th><th>厂家</th><th>单位</th><th>批号</th><th>有效期</th><th>入库数量</th><th>已退数量</th><th>退货家（原进价）</th><th>退货数量</th><th>退货金额</th></tr></thead>
												<tbody><tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td><input type="text" /></td><td><input type="text" /></td></tr></tbody>
											</table></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div><input type="button" value="关闭"/><input type="button" value="提交"/></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="bgcover"></div>
